html, body{
  text-align: center;
  height: 100%;
  margin: 0;
}

a{
  text-decoration: none;
}

.build-panel{
  float: left;
  box-shadow: 0 0 0.2em 0.1em black inset;
  font-size: smaller;
}

<<<<<<< HEAD
.panel-count-0 {
    background-color: green;
}

#failed-build-count{
    color: black;
    font-size: 400%;
}

.panel-count-0 #failed-build-count{
    color: white;
}

#last-update {
    color: black;
    font-size: 200%;   
}

.panel-count-0 #last-update {
    color: white;
}

.panel-count-2 .build-panel{
  width: 46%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: smaller;
}

.panel-count-3 .build-panel{
  width: 31.33%;
  width: calc(94% / 3);
  padding-left: 1%;
  padding-right: 1%;
  font-size: smaller;
}

.panel-count-4 .build-panel{
  height: 50%;
  width: 46%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: smaller;
}

=======
>>>>>>> Set 4 builds per row
.build-panel > h1:first-child{
  margin-top: 0;
}

.succeeded{
  background-color: green;
  color: white;
}

.failed{
  background-color: red;
  color: white;
}

.in-progress{
  background-color: yellow;
  color: black;
}

.in-progress-after-failed{
  background-color: orange;
  color: black;
}

.status{
  font-size: 400%;
}

.build-definition-name{
  font-size: 300%;
}

.build-number{
  font-size: 300%;
}

.commit-message{
  font-size: 300%;
}

.refresh-icon{
  z-index: 102;
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
}

.error-modal-background{
  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.error-modal-text{
  position: fixed;
  z-index: 101;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 5% 20%;
  padding: 5%;
  font-size: 400%;
}


.hidden{
  display: none;
}

.hide-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
