html, body{
  text-align: center;
  height: 100%;
  margin: 0;
}

a{
  text-decoration: none;
}

.build-panel{
  float: left;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0.2em 0.1em black inset;
}

.panel-count-2 .build-panel{
  width: 50%;
}

.panel-count-3 .build-panel{
  width: 33.33%;
  width: calc(100% / 3);
}

.panel-count-4 .build-panel{
  width: 50%;
  height: 50%;
}

.build-panel > h1:first-child{
  margin-top: 0;
}

.succeeded{
  background-color: green;
  color: white;
}

.failed{
  background-color: red;
  color: white;
}

.in-progress{
  background-color: yellow;
  color: black;
}

.in-progress-after-failed{
  background-color: orange;
  color: black;
}

.status{
  font-size: 400%;
}

.build-definition-name{
  font-size: 300%;
}

.build-number{
  font-size: 300%;
}

.commit-message{
  font-size: 300%;
}
