html, body{
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

a{
  text-decoration: none;
}

.panel{
  float: left;
  padding: 2%;
  box-shadow: 0 0 0.2em 0.1em black inset;
  font-size: 14px;
}

.panel > h1:first-child{
  margin-top: 0;
}

.succeeded{
  background-color: green;
  color: white;
}

.failed{
  background-color: red;
  color: white;
}

.in-progress{
  background-color: yellow;
  color: black;
}

.in-progress-after-failed{
  background-color: orange;
  color: black;
}

.refresh-icon{
  z-index: 102;
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
}

.error-modal-background{
  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.error-modal-text{
  position: fixed;
  z-index: 101;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 5% 20%;
  padding: 5%;
  font-size: 400%;
}


.hidden{
  display: none;
}

.hide-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
