* {
  box-sizing: border-box;
}

html, body{
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.build-tag {
  background-color: blue;
}

.release-tag {
  background-color: purple;
}

.build-definition-name, .release-definition-name {
  font-size: 35px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.build-number, .release-number {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
}

.release-env-name {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 30px;
}

.commit-message {
  padding-top: 20px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 20px;
}

a{
  text-decoration: none;
}

.panel{
  position: relative;
  float: left;
  padding: 2%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 14px;
}

.tag {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding-top: 3px;
  margin-bottom: 1%;
  border-top: 2px solid black;
}

.build {
  color: #624a6f;
  background-color: #cedadd;
}

.release {
   color: #dfdb81;
   background-color: #52494c;
}

.panel > h1:first-child{
  margin-top: 0;
}

.succeeded{
  background-color: #209422;
  color: white;
}

.failed{
  background-color: #c32727;
  color: white;
}

.in-progress{
  background-color: #f3de2c;
  color: black;
}

.in-progress-after-failed{
  background-color: #fb6107;
  color: black;
}

.not-started {
  background-color: #5ea7df;
  color: white;
}

.refresh-icon{
  z-index: 102;
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
}

.error-modal-background{
  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.error-modal-text{
  position: fixed;
  z-index: 101;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 5% 20%;
  padding: 5%;
  font-size: 400%;
}


.hidden{
  display: none;
}

.hide-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
